@tailwind base;
@tailwind components;
@tailwind utilities;

/* Component styles */
  .volume-fader,
  .eq-fader,
  .gain-fader,
  .crossfader {
    appearance: none;
    border-radius: 0.25rem;
    position: relative;
    background-color: #374151; /* gray-700 */
    box-shadow: inset 0 2px 4px 0 rgb(0 0 0 / 0.05);
  }

  .volume-fader::-webkit-slider-thumb,
  .eq-fader::-webkit-slider-thumb,
  .gain-fader::-webkit-slider-thumb,
  .crossfader::-webkit-slider-thumb {
    appearance: none;
    border-radius: 9999px;
    cursor: pointer;
    background-color: #d1d5db; /* gray-300 */
    width: 14px;
    height: 14px;
  }

  .crossfader::-webkit-slider-thumb {
    width: 20px;
    height: 20px;
  }

  .volume-fader,
  .eq-fader,
  .gain-fader {
    width: 8px;
    height: 100px;
    writing-mode: bt-lr;
    transform: rotate(180deg);
  }

  .crossfader {
    height: 10px;
    width: 100%;
    margin-top: 2rem;
  }

  .cue-button {
    background-color: #f97316; /* orange-500 */
    color: white;
    padding: 0.25rem 0.5rem;
    border-radius: 0.25rem;
    transition: background-color 0.2s;
  }

  .cue-button:hover {
    background-color: #fb923c;
  }

  .hotcue-button {
    padding-top: 0.75rem;
    padding-bottom: 0.75rem;
    border-radius: 0.25rem;
    font-size: 0.875rem;
    font-weight: 700;
    transition-property: all;
    transition-duration: 200ms;
}

  .play-button {
    background-color: #16a34a;
    color: #ffffff;
    border-radius: 9999px;
    padding: 0.5rem 1rem;
    box-shadow: 0 10px 15px -3px rgba(0,0,0,0.1), 0 4px 6px -4px rgba(0,0,0,0.1);
}
.play-button:hover {
    background-color: #22c55e;
}

  .pause-button {
    background-color: #eab308;
    color: #ffffff;
    border-radius: 9999px;
    padding: 0.5rem 1rem;
    box-shadow: 0 10px 15px -3px rgba(0,0,0,0.1), 0 4px 6px -4px rgba(0,0,0,0.1);
}
.pause-button:hover {
    background-color: #facc15;
}

  .jogwheel {
    position: relative;
    user-select: none;
    border-radius: 9999px;
    width: 160px;
    height: 160px;
    background: radial-gradient(circle at center, #4b5563 0%, #1f2937 70%);
    transition: transform 0.1s linear;
  }

  @keyframes jogspin {
    from {
      transform: rotate(0deg);
    }
    to {
      transform: rotate(360deg);
    }
  }

  .jogwheel.playing {
    animation: jogspin 3s linear infinite;
  }

  .jogwheel .marker {
    position: absolute;
    background-color: #ffffff;
    width: 2px;
    height: 20px;
    left: 50%;
    top: 0;
    transform: translateX(-50%);
  }

  .knob {
    border-radius: 9999px;
    background-color: #374151;
    box-shadow: 0 4px 6px -1px rgba(0,0,0,0.1), 0 2px 4px -2px rgba(0,0,0,0.1);
    position: relative;
    user-select: none;
    cursor: pointer;
}

  .knob::after {
    content: "";
    position: absolute;
    width: 0.25rem;
    height: 33.333333%;
    background-color: #e5e7eb;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
    transform-origin: 50% 100%;
}
